version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build"
      include: "scope"
    groups:
      docker:
        patterns:
          - "github.com/docker/docker"
          - "github.com/docker/cli"
      project-dependency:
        exclude-patterns:
          - "github.com/containerd/nerdctl/v2"
          - "github.com/docker/docker"
          - "github.com/docker/cli"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "ci"
      include: "scope"
    groups:
      github-actions:
        patterns:
          - "*"
