[Unit]
Description=finch daemon
Documentation=https://runfinch.com
After=network.target local-fs.target containerd.service
Wants=network.target containerd.service

[Service]
ExecStart=/usr/local/bin/finch-daemon --debug

Type=notify
Delegate=yes
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
