name: CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:
env:
  GO_VERSION: '1.23.8'
  GOLANGCI_LINT_VERSION: '1.64.8'
jobs:
  git-secrets:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Pull latest awslabs/git-secrets repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: awslabs/git-secrets
          ref: 1.3.0
          fetch-tags: true
          path: git-secrets
      - name: Install git secrets from source
        run: sudo make install
        working-directory: git-secrets
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Scan repository for git secrets
        run: |
          git secrets --register-aws
          git secrets --scan-history
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working_dir: ['.']
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: golangci/golangci-lint-action@v6 # v6.1.0
        with:
          version: v${{ env.GOLANGCI_LINT_VERSION }}
          working-directory: ${{ matrix.working_dir }}
          args: --fix=false --timeout=5m
  yamllint:
    name: yamllint-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: yamllint .
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Checkout finch-deamon repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Build the daemon
        run: make build
      - name: Run unit tests
        run: make test-unit
      - name: Create build artifacts
        run: tar -cvf build-artifacts.tar bin/
      - name: Upload build artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: build-artifacts
          path: build-artifacts.tar
  e2e-test:
    name: e2e-test (containerd ${{ matrix.containerd }}, nerdctl ${{ matrix.nerdctl }})
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      matrix:
        containerd: ["1.7.27", "2.1.3"]
        nerdctl: ["2.1.4", "2.1.5", "2.1.6"]
      fail-fast: false
    timeout-minutes: 10
    steps:
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Checkout finch-daemon repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Stop pre-existing containerd and docker services
        run: |
          sudo systemctl stop docker
          sudo systemctl stop containerd
      - name: Install Dependencies for e2e Testing
        run: ./setup-test-env.sh --containerd-version ${{ matrix.containerd }} --nerdctl-version ${{ matrix.nerdctl }}
      - name: Download build artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: build-artifacts
      - name: Extract build artifacts
        run: tar -xvf build-artifacts.tar
      - name: Remove default podman network config
        run: |
          sudo ls /etc/cni/net.d
          sudo rm /etc/cni/net.d/87-podman-bridge.conflist
      - name: Verify Rego file presence
        run: ls -l ${{ github.workspace }}/docs/sample-rego-policies/example.rego
      - name: Set Rego file path
        run: echo "REGO_FILE_PATH=${{ github.workspace }}/docs/sample-rego-policies/example.rego" >> $GITHUB_ENV
      - name: Start finch-daemon with opa Authz
        run: sudo bin/finch-daemon --debug --experimental --rego-file ${{ github.workspace }}/docs/sample-rego-policies/example.rego --skip-rego-perm-check --socket-owner $UID --socket-addr /run/finch.sock --pidfile /run/finch.pid &
      - name: Run opa e2e tests
        run: sudo -E make test-e2e-opa
      - name: Clean up Daemon socket
        run: sudo rm /run/finch.sock && sudo rm /run/finch.pid && sudo rm /run/finch-credential.sock
      - name: Start finch-daemon
        run: sudo cp bin/docker-credential-finch /usr/bin && sudo bin/finch-daemon  --debug --socket-owner $UID &
      - name: Run e2e test
        run: sudo make test-e2e
      - name: Clean up Daemon socket
        run: sudo rm /var/run/finch.sock && sudo rm /run/finch.pid && sudo rm /var/run/finch-credential.sock
