name: CI
on:
    push:
      branches:
        - main
      paths-ignore:
        - '**.md'
    pull_request:
      branches:
        - main
      paths-ignore:
        - '**.md'
    workflow_dispatch:
env:
  GO_VERSION: '1.22.6'

jobs:
    git-secrets:
      runs-on: ubuntu-latest
      steps:
        - name: Pull latest awslabs/git-secrets repo
          uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
          with:
            repository: awslabs/git-secrets
            ref: 1.3.0
            fetch-tags: true
            path: git-secrets
        - name: Install git secrets from source
          run: sudo make install
          working-directory: git-secrets
        - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        - name: Scan repository for git secrets
          run: |
            git secrets --register-aws
            git secrets --scan-history
    unit-test:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
            with:
              go-version: ${{ env.GO_VERSION }}
              cache: false
          - name: Checkout finch-deamon repo
            uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
          - name: Build and run unit tests
            run: |
             make build
             make run-unit-tests
    e2e-test:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
            with:
              go-version: ${{ env.GO_VERSION }}
          - name: Checkout finch-daemon repo
            uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
          - name: Install Dependencies for e2e Testing
            run: ./setup-test-env.sh
          - name: Build the daemon
            run: make build
          - name: Remove default podman network config
            run: |
             sudo ls /etc/cni/net.d
             sudo rm /etc/cni/net.d/87-podman-bridge.conflist
          - name: Start finch-daemon
            run: sudo bin/finch-daemon  --debug --socket-owner $UID &
          - name: Run e2e test
            run: sudo make run-e2e-tests
