# When a third-party action is added (i.e., `uses`), please also add it to `download-licenses` in Makefile.
on:
  push:
    branches:
      - main
name: release-please

permissions:
  contents: write # Required for trigger-release-automation job
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - name: release-please-action
        uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        id: release
        with:
          target-branch: ${{ github.head_ref || github.ref_name }}
  trigger-release-automation:
    name: Trigger release-automation.yaml if PR is merged
    needs: [release-please]
    permissions:
      contents: write    # Required for uploading release assets
      id-token: write    # Required for AWS OIDC authentication
      pull-requests: write
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    uses: ./.github/workflows/release-automation.yaml
